<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Mapeo de datos para establecer connecion @.@. -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property> <!-- Driver BD  y acceso a al carpeta del paquete--> 
    <property name="connection.url">jdbc:mysql://localhost:3306/transportesys</property><!-- URL --><!--Nombre de la BD  y el puerto y nombre BD-->
    
    <property name="connection.username">root</property><!-- Usuario y contraseña -->
    <!--  tu muy bien -->
    <property name="connection.password">interpol11</property>
    <!--Depende del dialecto de BD 1que se trabaje -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <!--Mapeo por anotaciones  -->
    <mapping class ="co.persistencia.entity.Camion"/> 
    <mapping class ="co.persistencia.entity.Provincia"/>
    <mapping class ="co.persistencia.entity.Paquete"/>
    <mapping class ="co.persistencia.entity.Camionero"/>

    </session-factory>
 
</hibernate-configuration>
